@media screen and (min-width: 600px) {
    .dropbtn {
        background: url(/source/img/avatar.png);
        z-index: 2;
        position: relative;
        color: white;
        margin: 16px;
        padding: 16px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        border: #F15B42 solid;
    }

    .dropdown {
        float: left;
        position: absolute;
        display: inline-block;
    }

    .dropdown-content {
        border: #F15B42 solid;
        border-radius: 5px;
        margin-top: -16px;
        margin-left: 16px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        z-index: 2;
    }

    .dropdown-content a {
        color: black;
        padding: 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .dropbtn {
        visibility: hidden;
    }

    .dropdown {
        visibility: hidden;
        float: left;
        position: absolute;
        display: inline-block;
    }
}