* {box-sizing: border-box;}
form {
    float: right;
    z-index: 2;
    position: relative;
    margin-top: 16px;
    margin-right: 40px;
    width: 400px;
    border: #F15B42 solid;
    border-radius: 5px;
}
input, button {
    border: none;
    outline: none;
}
input {
    width: 100%;
    height: 42px;
    font-size: 20px;
    background: #F9F0DA;
    padding-left: 15px;
}
.searchbtn {
    height: 42px;
    width: 42px;
    position: absolute;
    right: 0;
    background: #F15B42;
    cursor: pointer;
}
.searchbtn:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}